<h1>Subs#new</h1>
<p>Find me in app/views/subs/new.html.erb</p>

<form class="" action="<%= subs_url  %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Title
    <input type="text" name="sub[title]" value="">
  </label>

  <label for="">Description
    <input type="text" name="sub[description]" value="">
  </label>

  <input type="submit" name="" value="Create Sub">
</form>
